<% provide(:title, @taxon.name) %>
<% provide(:page_title, @taxon.name) %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'sidebar_categories' %>
        <%= render 'sidebar_color' %>
        <%= render 'sidebar_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <%= render 'show_product' %>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/footer_light' %>
