<% provide(:title, @product.name) %>
<% provide(:page_title, @product.name) %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'picture_slider', product: @product %>
          <div class="media-body">
            <ul class="list-inline">
              <% if @product.taxons.first.present? %>
                <li>
                  <%= link_to potepan_category_path(@product.taxons.first.id) do %>
                    <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to potepan_root_path do %>
                    <i class="fa fa-reply" aria-hidden="true"></i>TOPへ戻る
                  <% end %>
                </li>
              <% end %>
              <!-- <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Share This</a></li> -->
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <%= render 'add_cart', product: @product %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'related', related_product: @related_products %>
  </div>
</section>
